html, body {
    overflow: hidden;
}

html, body, div {
    width: 100vw;
    margin: 0;
    background-color: #00072d;
}

* {
    font-family: sans-serif;
    color: #a6e1fa;
}

#setup {
    width: 512px;
    height: 256px;
    position: absolute;
    top: calc(50% - 192px);
    left: calc(50% - 256px);
    border: 2px solid black;
    background-color: #001c55;
    border-radius: 32px;
    align-items: center;
}

#setup > form > input {
    width: 384px;
    margin-left: 64px;
    margin-top: 32px;
    font-size: 24px;
    background-color: #00072d;
    border-radius: 12px;
    border: 2px solid #0e6ba8;
    padding: 4px;
}

#setup > form > button {
    width: 256px;
    height: 64px;
    margin-left: 128px;
    margin-top: 32px;
    background-color: #00072d;
    border-radius: 16px;
    border: 2px solid #0e6ba8;
    font-size: 24px;
}

#head {
    height: 128px;
    border-bottom: 1px solid black;
    display: flex;
    background-color: #001c55;
    font-size: 24px;
}

#head > img {
    height: 120px;
    margin: 4px;
}

#head > h1 {
    display: inline;
    vertical-align: center;
    transform: translateY(25%);
    margin: 16px;
}

#channels {
    width: min-content;
    height: 128px;
    display: flex;
    background-color: #001c55;
    font-size: 24px;
}

#channels > input[type="radio"] {
    display: none;
}

#channels > label {
    border-radius: 8px 8px 0 0;
    background: #00072d;
    margin-top: 92px;
    margin-left: 4px;
    padding: 4px;
    width: max-content;
}

#channels > label.active {
    background: #0e6ba8;
    color: #001c55;
}

#body {
    height: calc(100vh - 202px);
    overflow: auto;
}

#body > span {
    display: block;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    width: calc(100% - 34px);
    margin: 5px 10px;
    border: 2px solid #0e6ba8;
    background-color: #001c55;
    overflow-wrap: break-word;
}

#foot {
    height: 64px;
}

#foot > form > input {
    margin: 5px;
    font-size: 48px;
    width: calc(100% - 18px);
    background-color: #001c55;
    border-radius: 16px;
    border: 2px solid #0e6ba8;
    transform: translateY(-4px);
}

#foot > form > input:disabled {
    background-color: #2a3854;
}